$fonts-path: '../fonts/';

@font-face {
  font-family:'TTTravels';
  src: url('#{$fonts-path}TTTravels-Black.eot');
  src: url('#{$fonts-path}TTTravels-Black.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-path}TTTravels-Black.woff2') format('woff2'),
  url('#{$fonts-path}TTTravels-Black.woff') format('woff'),
  url('#{$fonts-path}TTTravels-Black.ttf') format('truetype'),
  url('#{$fonts-path}TTTravels-Black.svg#s Black') format('svg');
  font-display: swap;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}

@font-face {
  font-family: 'TTTravels';
  src: url('#{$fonts-path}TTTravels-Bold.eot');
  src: url('#{$fonts-path}TTTravels-Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-path}TTTravels-Bold.woff2') format('woff2'),
  url('#{$fonts-path}TTTravels-Bold.woff') format('woff'),
  url('#{$fonts-path}TTTravels-Bold.ttf') format('truetype'),
  url('#{$fonts-path}TTTravels-Bold.svg#s Bold') format('svg');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$fonts-path}Montserrat Bold.eot');
  src: url('#{$fonts-path}Montserrat Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-path}Montserrat Bold.woff2') format('woff2'),
  url('#{$fonts-path}Montserrat Bold.woff') format('woff'),
  url('#{$fonts-path}Montserrat Bold.ttf') format('truetype'),
  url('#{$fonts-path}Montserrat Bold.svg#Montserrat Bold') format('svg');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$fonts-path}Montserrat SemiBold.eot');
  src: url('#{$fonts-path}Montserrat SemiBold.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-path}Montserrat SemiBold.woff2') format('woff2'),
  url('#{$fonts-path}Montserrat SemiBold.woff') format('woff'),
  url('#{$fonts-path}Montserrat SemiBold.ttf') format('truetype'),
  url('#{$fonts-path}Montserrat SemiBold.svg#Montserrat SemiBold') format('svg');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$fonts-path}Montserrat Regular.eot');
  src: url('#{$fonts-path}Montserrat Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-path}Montserrat Regular.woff2') format('woff2'),
  url('#{$fonts-path}Montserrat Regular.woff') format('woff'),
  url('#{$fonts-path}Montserrat Regular.ttf') format('truetype'),
  url('#{$fonts-path}Montserrat Regular.svg#Montserrat Regular') format('svg');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$fonts-path}Montserrat Light.eot');
  src: url('#{$fonts-path}Montserrat Light.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-path}Montserrat Light.woff2') format('woff2'),
  url('#{$fonts-path}Montserrat Light.woff') format('woff'),
  url('#{$fonts-path}Montserrat Light.ttf') format('truetype'),
  url('#{$fonts-path}Montserrat Light.svg#Montserrat Light') format('svg');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}