@keyframes flip {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(180deg);
  }
}

@keyframes line1 {
  from {
    transform: translate(3px, -2px);
  }
  50% {
    transform: translate(0px, 0px) scaleY(0.5);
  }
  to {
    transform: translate(-3px, 2px) scaleY(1);
  }
}
@keyframes line2 {
  from {
    transform: translate(-3px, 2px);
  }
  50% {
    transform: translate(0px, 0px) scaleY(0.5);
  }
  to {
    transform: translate(3px, -2px) scaleY(1);
  }
}

@supports (backdrop-filter: blur()) {
  %glass {
    background: linear-gradient(138deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.25) 100%);
    box-shadow: 0 15px 12px -10px rgba(0, 0, 0, .25);
    -webkit-backdrop-filter: blur(60px);
    backdrop-filter: blur(60px);
    will-change: backdrop-filter;
  }
}

@supports not (backdrop-filter: blur()) {
  %glass {
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 15px 12px -10px rgba(0, 0, 0, .25);
  }
}

%gradient-dark {
  background: linear-gradient(115deg,
          #E95B58 0%,
          #BE4F55 6.1%,
          #914252 13.5%,
          #6B384F 21%,
          #4E304D 28.5%,
          #3A2A4B 35.8%,
          #2D264A 43%,
          #29254A 50%,
          #2A294E 57.7%,
          #2E335B 65.7%,
          #34446F 73.8%,
          #3D5D8C 82%,
          #497CB2 90.3%,
          #56A2DF 98.5%,
          #59AAE8 100%);
}

%gradient-light {
  background: linear-gradient(90deg,
          #E95B58 3.8%,
          #F2D7CF 33.5%,
          #F3EAE1 40.8%,
          #F4F1E8 48%,
          #E5EAE8 64%,
          #59AAE8 96.4%);
}

.loaded {
  .main-wrapper {
    display: none;
  }

  .icon-load {
    display: block;
  }
}

.icon-load {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.main-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  min-width: 320px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.row {
  &:after {
    display: none;
  }

  &.clearfix:after {
    display: block;
  }
}

.section {
  position: relative;
  z-index: 1;
}

.bg-gradient {
  background: linear-gradient(318deg, #E95B58 2.92%, #BE4F55 8.97%, #914252 16.34%, #6B384F 23.76%, #4E304D 31.12%, #3A2A4B 38.4%, #2D264A 45.55%, #29254A 52.45%, #2A294E 60.09%, #2E335B 67.99%, #34446F 76.04%, #3D5D8C 84.16%, #497CB2 92.36%, #56A2DF 100.51%, #59AAE8 101.98%);
  background-size: 130%;
  background-position: center;
}

.section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &:after {
    content: '';
    @extend .section-bg;
    opacity: .25;
    //background: $main-first-color-custom;
    z-index: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}

.subtitle {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.btn {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 13px 12px;
  border-radius: 333px;
  box-shadow: none !important;
  font-size: 1em;
  font-weight: 600;

  svg {
    width: 12px;
    height: 12px;
    margin-left: 10px;
  }

  &-light {
    color: $primary;
  }

  &-gradient {
    position: relative;
    padding: 10px 28px;
    background: $primary;
    background-clip: padding-box;
    border: 2px solid transparent;
    color: $light;
    overflow: visible;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -2px;
      border-radius: inherit;
      transition: $transition-base;
    }

    &_light {
      &::before {
        @extend %gradient-light;
      }
    }

    &_dark {
      &::before {
        @extend %gradient-dark;
      }
    }

    &:hover {
      color: $light;

      &::before {
        transform: matrix3d(1, 0, 0.5, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      }
    }
  }
}

.color-separator {
  position: relative;
  display: block;
  width: 80px;
  height: 10px;
  margin: 0 auto 28px;

  /*&:hover {
    &::before, &::after {
      transform: translate(0px, 0px);
    }
  }*/

  &::before, &::after {
    content: '';
    position: absolute;
    display: block;
    width: 75px;
    height: 7px;
    transition: $transition-base;
  }

  &::before {
    background: $main-second-color;
    transform: translate(3px, -2px);
    animation: line1 1s ease-in-out infinite alternate-reverse;
  }

  &::after {
    background: $main-third-color;
    transform: translate(-3px, 2px);
    animation: line2 1s ease-in-out infinite alternate-reverse;
  }

  &_dark {
    &::before, &::after {
      mix-blend-mode: multiply;
    }
  }

  &_light {
    &::before, &::after {
      mix-blend-mode: screen;
    }
  }
}

input {
  &[type="checkbox"] {
    display: none !important;

    &:checked {
      & ~ .checkbox {
        .checkbox {
          &__style {
            svg {
              transform: translate(-50%, -50%) scale(1);
            }
          }
        }

        &_toggle {
          .checkbox__style {
            background: #1b1b1b;

            &::after {
              left: calc(100% - 27px);
              background: #fff;
            }
          }
        }
      }
    }

    & ~ .checkbox {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;

      .checkbox {
        &__style {
          flex: 0 0 auto;
          position: relative;
          width: 25px;
          height: 25px;
          margin: 0 20px 0 0;
          background: #fcfbfa;
          border: 1px solid #ececec;
          border-radius: 5px;
          cursor: pointer;
          transition: $transition-base;

          svg {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 14px;
            height: 14px;
            fill: $main-first-color;
            transform: translate(-50%, -50%) scale(0);
            transition: $transition-base;
          }
        }

        &__text {
          font-size: 14px;
          font-weight: 300;
          line-height: 29px;
          user-select: none;
        }
      }
    }
  }

  &[type="radio"] {
    display: none !important;

    &:checked {
      & ~ .radiobox {
        .radiobox__style {
          svg {
            transform: translate(-50%, -50%) scale(1);
          }
        }
      }
    }

    & ~ .radiobox {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;

      .radiobox {
        &__style {
          flex: 0 0 auto;
          position: relative;
          width: 14px;
          height: 14px;
          margin: 0 20px 0 0;
          background: #fcfbfa;
          border: 1px solid #ececec;
          border-radius: 100%;
          cursor: pointer;

          svg {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 23px;
            height: 23px;
            fill: $main-first-color;
            transform: translate(-50%, -50%) scale(0);
            transition: $transition-base;
          }
        }

        &__text {
          font-size: 14px;
          font-weight: 300;
          line-height: 29px;
          user-select: none;
        }
      }
    }
  }
}

.form-control {
  height: auto;
  padding: 11px 30px 11px 20px;
  background: #fcfbfa;
  border: 1px solid #ececec;
  border-radius: 10px;
  box-shadow: none !important;
  line-height: 33px;
}

textarea {
  &.form-control {
    width: 100%;
    min-height: 160px;
    height: 160px;
    max-height: 300px;
    transition: $transition-base;
  }
}

/*
.ui-tabs-vertical {
  width: 100%;

  .ui-tabs {
    &-nav {
      padding: .2em .1em .2em .2em;
      float: left;
      width: 12em;

      li {
        clear: left;
        width: 100%;
        border-bottom-width: 1px !important;
        border-right-width: 0 !important;
        margin: 0 -1px .2em 0;

        &.ui-tabs-active {
          padding-bottom: 0;
          padding-right: .1em;
          border-right-width: 1px;
        }

        a {
          display: block;
          color: #fff;
          font-size: 20px;
          line-height: 28px;
        }
      }
    }

    &-panel {
      padding: 1em;
      float: right;
      width: 40em;
    }
  }
}*/