// main colors
$main-first-color: #222349;
$main-second-color: #59AAE8;
$main-third-color: #E95B58;
$main-light-color: #F4F1E8;

// colors
$title-color: $main-first-color;
$text-color: $main-first-color;
$input-placeholder-color: #4D4F6A;

// fonts
$font-family-base: 'Montserrat', sans-serif;
$font-family-custom: 'TTTravels', sans-serif;
$font-family-unique: 'Times New Roman', serif;

// font-weight
$font-weight-medium: 500;
$font-weight-sbold: 600;

// font-size
$font-size-default: 16px;
$line-height-base: 1.25;

// behavior
$transition-base: all .35s ease-in-out 0s;

//Bootstrap var
$enable-shadows: true;
$body-color: $text-color;

$primary: $main-first-color;
$info: $main-second-color;
$danger: $main-third-color;
$light: $main-light-color;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1220px,
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1210px,
);