.section-mobile-app {
  padding: 100px 0;

  .subtitle {
    max-width: 655px;
    margin: 0 auto 50px;
  }
}

.app {
  &__list {
    padding: 0;
    margin: 0;

    li {
      color: #fff;

      svg {
        width: 14px;
        height: 10px;
        margin-right: 12px;
        fill: #fff;
      }
    }
  }
}