.section-mobile-app {
  padding: 100px 0;

  .subtitle {
    max-width: 655px;
    margin: 0 auto 90px;
  }
}

.app {
  &__list {
    padding: 0;
    margin: 0;

    li {
      color: #fff;
      line-height: 1;

      &:not(:last-child) {
        margin: 0 0 14px;
      }

      svg {
        width: 14px;
        height: 10px;
        margin-right: 12px;
        fill: #fff;
      }
    }
  }

  &__downloads {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    &> a {
      margin-right: 12px;
    }

    a {
      &:not(:last-of-type) {
        margin: 0 0 12px;
      }

      svg {
        width: 220px;
        height: 66px;
        fill: #fff;
      }
    }
  }

  &__pic {
    position: absolute;
    top: -110px;
    left: 90px;
  }
}