.section-mobile-app {
  padding: 100px 0;

  .subtitle {
    max-width: 655px;
    margin: 0 auto 90px;
  }
}

.app {
  &__list {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    padding: 0;
    margin: 0;

    li {
      color: #fff;
      line-height: 1;

      &:not(:last-child) {
        margin: 0 0 14px;
      }

      svg {
        width: 14px;
        height: 10px;
        margin-right: 12px;
        fill: #fff;
      }
    }
  }

  &__downloads {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    &> a {
      margin: 0 12px 12px 0;
    }

    a {
      &:not(:last-of-type) {
        margin: 0 0 12px;
      }

      svg {
        width: 220px;
        height: 66px;
        fill: #fff;
      }
    }
  }

  &__pic {
    position: absolute;
  }
}

@include media-breakpoint-up(sm) {
  .app {
    &__downloads {
      flex-direction: row;
      align-content: flex-start;
      align-items: flex-start;
    }
  }
}
@include media-breakpoint-up(md) {
  .app {
    align-content: center;
    align-items: center;

    &__downloads {
      flex-direction: column;
      align-content: center;
      align-items: center;
    }
  }
}
@include media-breakpoint-up(lg) {
  .app {
    &__downloads {
      flex-direction: row;
      align-content: flex-start;
      align-items: flex-start;
    }

    &__pic {
      top: -240px;
      left: 100px;
    }
  }
}
@include media-breakpoint-up(xl) {
  .app {
    &__pic {
      top: -200px;
      left: 90px;
    }
  }
}