.section-benefits {
  padding: 100px 0;
  background: $main-first-color;
  z-index: 2;

  .title {
    margin-bottom: 40px;
  }
}

.benefits-inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  text-align: left;

  &-wrap {
    @extend %glass;
    padding: 10px;
    border-radius: 10px;
  }

  &__box {
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;

    &:not(:last-child) {
      margin: 0 0 40px;
    }
  }

  &__ico {
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    margin-bottom: 40px;
    background: #eef6fd;
    border-radius: 10px;

    svg {
      width: 30px;
      height: 30px;
    }
  }

  &__title {
    margin: 0 0 20px;
    color: $main-first-color;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
  }

  &__text {
    margin: 0;
    color: #4d4f6a;
    line-height: 26px;
  }
}

@include media-breakpoint-up(sm) {
  .benefits-inner {
    padding: 40px;

    &-wrap {
      padding: 20px;
    }
  }
}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {
  .benefits-inner {
    &__box {
      max-width: 30%;
      margin: 0 !important;
    }
  }
}
@include media-breakpoint-up(xl) {
  .section-benefits {
    max-height: 660px;
  }

  .benefits-inner {
    padding: 60px;

    &__box {
      max-width: 300px;
    }
  }
}