.section-calculate {
  padding: 100px 0;
  background: #fcfbfa;

  .subtitle {
    margin: 0 0 60px;
  }
}

.calculate {
  &__form {
    padding: 44px;
    background: white;
    border-radius: 10px;

    &-wrap {
      width: 100%;
      max-width: 820px;
      padding: 20px;
      margin: 0 auto;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 10px;
      box-shadow: 0 0 82px rgba(0, 0, 0, 0.2);
    }
  }
}