.section-events-info {
  .title {}

  .subtitle {
    margin-bottom: 100px;
  }
}

.events-info {
  justify-content: space-between;
  align-content: center;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 100px;
  }

  &-wrap {
    padding: 100px 0;
    background: #fcfbfa;
  }

  &__content {
    max-width: 510px;
    margin: 0 auto;

    .style-list {
      margin-bottom: 40px;
    }
  }

  &__pic {
    img {
      width: 100%;
    }
  }

  &__title {
    margin: 0 0 32px;
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
  }

  &__company {
    &-pic {
      display: block;
      margin: 0 0 12px 25px;

      img {
        height: 100%;
        max-height: 44px;
      }
    }

    &-quote {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;
      font-size: 14px;
      font-weight: 600;
      font-style: italic;

      svg {
        flex: 0 0 auto;
        width: 14px;
        height: 14px;
        margin-right: 10px;
        fill: $main-third-color;
      }
    }
  }
}

@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(xl) {
  .events-info {
    &__pic {
      img {
        width: auto;
      }
    }
  }
}