.section-home {
  padding: 120px 0 100px;
}

.home {
  &__title {
    margin: 0 0 30px;
    color: $main-light-color;
    font-family: $font-family-custom;
    font-size: 10vw;
    font-weight: 900;
    line-height: 1.25;
    text-transform: uppercase;

    span {
      color: transparent;
      -webkit-text-stroke: 1px $main-light-color;
    }
  }

  &__text {
    margin: 0 0 36px;
    color: $main-light-color;
    font-size: 20px;
    line-height: 32px;
  }

  &__buttons {
    .btn {
      &-link {
        color: $main-light-color;

        svg {
          fill: $main-light-color;
        }
      }
    }
  }


  &-trade {
    &__qr {
      @extend %glass;
      position: absolute;
      left: 30px;
      bottom: 50px;
      padding: 8px;
      border-radius: 10px;
      z-index: 1;
    }
    &__pic {
      position: relative;
      display: block;
      width: 260px;
      height: 320px;
      margin: 0 auto;
      background: $main-third-color;
      border-radius: 10px;

      img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &__cloud {
      position: absolute;
      display: block;
      padding: 6px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 10px;
      @extend %glass;

      img {
        border-radius: 10px;
        overflow: hidden;
      }

      &_first {
        top: -70px;
        right: -10px;
      }
      &_second {
        top: 50px;
        right: -20px;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .home {
    &__title {
      font-size: 44px;
    }
  }
}
@include media-breakpoint-up(md) {
  .home {
    &__title {
      font-size: 48px;
    }
  }
}
@include media-breakpoint-up(lg) {
  .section-home {
    padding: 180px 0 100px;
  }
}
@include media-breakpoint-up(xl) {
  .home {
    &-trade {
      &__qr {
        left: 90px;
        bottom: 50px;
      }

      &__cloud {
        &_first {
          top: -40px;
          right: 20px;
        }
        &_second {
          top: 50px;
          right: -10px;
        }
      }
    }
  }
}