.section-home {
  padding: 120px 0 100px;
}

.home {
  &__title {
    margin: 0 0 30px;
    color: $main-light-color;
    font-family: $font-family-custom;
    font-size: 10vw;
    font-weight: 900;
    line-height: 1.25;
    text-transform: uppercase;

    span {
      color: transparent;
      -webkit-text-stroke: 1px $main-light-color;
    }
  }

  &__text {
    margin: 0 0 36px;
    color: $main-light-color;
    font-size: 20px;
    line-height: 32px;
  }

  &__buttons {
    .btn {
      &-link {
        color: $main-light-color;

        svg {
          fill: $main-light-color;
        }
      }
    }
  }


  &-trade {
    &__qr {
      @extend %glass;
      position: absolute;
      left: 30px;
      bottom: 50px;
      padding: 8px;
      border-radius: 10px;
      z-index: 1;

      img {
        width: 90px;
        height: 90px;
      }
    }
    &__pic {
      position: relative;
      display: block;
      width: 260px;
      height: 320px;
      margin: 0 auto;
      background: $main-third-color;
      border-radius: 10px;

      img {
        position: absolute;
        bottom: 0;
        left: 50%;
        max-width: 283px;
        max-height: 360px;
        transform: translateX(-50%);
      }
    }

    &__cloud {
      position: absolute;
      display: block;
      padding: 6px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 10px;
      @extend %glass;

      img {
        width: 205px;
        height: 66px;
        border-radius: 10px;
        overflow: hidden;
      }

      &_first {
        top: -70px;
        right: -10px;
      }
      &_second {
        top: 50px;
        right: -20px;
      }
    }
  }

  &-conferences {
    position: relative;
    width: 385px;
    height: 335px;
    margin: 0 auto;

    &__pic {
      img {
        width: 384px;
        height: 334px;
      }
    }

    &__menu {
      position: absolute;
      top: 50%;
      right: 100%;
      transform: translateY(-50%);
    }

    &__cloud {
      @extend %glass;
      position: absolute;
      padding: 6px;
      border-radius: 10px;

      img {
        width: 207px;
        height: 66px;
        border-radius: 10px;
        overflow: hidden;
      }

      &_first {
        bottom: 60px;
        right: -86px;
      }
      &_second {
        bottom: -27px;
        right: -62px;
      }
    }
  }

  &-corporations {
    position: relative;
    width: 408px;
    height: 306px;
    margin: 0 auto;

    &__pic {
      img {
        width: 408px;
        height: 306px;
      }
    }

    &__cloud {
      @extend %glass;
      position: absolute;
      padding: 6px;
      border-radius: 10px;

      &_first {
        top: 87px;
        left: -46px;

        img {
          width: 88px;
          height: 44px;
        }
      }

      &_second {
        top: 154px;
        left: -75px;

        img {
          width: 113px;
          height: 44px;
        }
      }

      &_third {
        right: -27px;
        bottom: 33px;

        img {
          width: 104px;
          height: 44px;
        }
      }
    }
  }

  &-chambers {
    width: 485px;
    height: 293px;
    margin: 0 auto;

    &__pic {
      img {
        width: 484px;
        height: 293px;
      }
    }

    &__cloud {
      @extend %glass;
      position: absolute;
      bottom: -55px;
      left: 50%;
      padding: 6px;
      border-radius: 10px;
      transform: translateX(-50%);

      img {
        width: 167px;
        height: 209px;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .home {
    &__title {
      font-size: 44px;
    }
  }
}
@include media-breakpoint-up(md) {
  .home {
    &__title {
      font-size: 48px;
    }
  }
}
@include media-breakpoint-up(lg) {
  .section-home {
    padding: 180px 0 100px;
  }
}
@include media-breakpoint-up(xl) {
  .home {
    &-trade {
      &__qr {
        left: 110px;
        bottom: 50px;
      }

      &__cloud {
        &_first {
          top: -40px;
          right: 20px;
        }
        &_second {
          top: 50px;
          right: -10px;
        }
      }
    }
  }
}