.section-main-home {
  padding: 120px 0 100px;
}

.main-home {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;

  &__title {
    margin: 0 0 20px;
    color: $main-light-color;
    font-family: $font-family-custom;
    font-size: 10vw;
    font-weight: 900;
    line-height: 1;
    text-align: center;

    span {
      color: transparent;
      -webkit-text-stroke: 1px $main-light-color;
    }
  }

  .subtitle {
    max-width: 980px;
    margin: 0 auto 40px;
    color: $main-light-color;
    text-align: center;
  }

  &__buttons {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    .btn {
      width: 100%;
      max-width: 300px;
      margin-bottom: 10px;
    }
  }

  &__team {
    display: none;
    @extend %glass;
  }
}

@include media-breakpoint-up(sm) {
  .section-main-home {
    padding: 140px 0 100px;
  }

  .main-home {
    &__title {
      font-size: 58px;
    }

    &__team {
      display: flex;
      max-width: 1020px;
      width: 100%;
      padding: 20px 10px 0;
      margin-top: 60px;
      border-radius: 14px;

      &-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: flex-start;
        align-items: flex-start;
        width: 100%;
        max-width: 980px;
        padding: 40px 10px 0;
        background: #ffffff;
        border-radius: 10px;
      }

      &-column {}

      &-box {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        transform-style: preserve-3d;
        transition: $transition-base;

        &.bg-primary {
          color: #fff;
        }

        &-wrap {
          width: 225px;
          height: 200px;
          margin: 0 0 44px;

          &.lg {
            height: 444px;
          }

          &:hover {
            .main-home {
              &__team {
                &-box {
                  transform: rotateY(180deg);
                  animation: flip .35s ease-in-out 1 alternate;

                  &-front {
                    opacity: 0;
                    visibility: hidden;
                  }
                  &-back {
                    opacity: 1;
                    visibility: visible;

                    &> * {
                      transform: rotateY(-180deg);
                    }
                  }
                }
              }
            }
          }
        }

        &-front, &-back {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          -moz-backface-visibility: hidden;
          backface-visibility: hidden;
          transition: all .3s ease 0s;
        }

        &-front {
          img {
            position: absolute;
            bottom: 0;
            left: 50%;
            //width: 110%;
            width: 130%;
            transform: translateX(-50%);
            pointer-events: none;
          }
        }

        &-back {
          display: flex;
          flex-flow: column wrap;
          justify-content: center;
          align-content: stretch;
          align-items: stretch;
          padding: 0 20px;
          opacity: 0;
          visibility: hidden;
          text-align: center;
          //transform: rotateY(180deg);

          .btn {
            width: auto;
            max-width: 220px;
            margin: 0 auto;
            text-transform: capitalize;
          }
        }

        &-title {
          margin: 0 0 10px;
          font-size: 24px;
          font-weight: 600;
        }

        &-text {
          margin: 0 0 10px;
          font-size: 14px;
          line-height: 1.25;
        }
      }
    }
  }
}
@include media-breakpoint-up(md) {
  .main-home {
    &__buttons {
      flex-direction: row;

      .btn {
        width: auto;
        max-width: none;
        margin: 0 8px;
      }
    }

    &__team {
      &-box {
        &-wrap {
          width: 300px;

          &.lg {
            img {
              width: 115%;
            }
          }
        }

        &-front {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .section-main-home {
    padding: 140px 0 340px;
    margin-bottom: 245px;
  }

  .main-home {
    &__title {
      font-size: 84px;
      line-height: 88px;
    }

    &__team {
      position: absolute;
      top: 68%;
      left: 50%;
      padding: 40px 20px 0;
      margin: 0;
      transform: translateX(-50%);

      &-wrapper {
        justify-content: space-between;
        padding: 20px;
      }

      &-column {}

      &-box {
        &-wrap {
          margin: 0;

          &:not(:last-child) {
            margin: 0 0 44px;
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(xl) {}