.section-platform {
  padding: 100px 0;
  background: #222349;
  z-index: 2;

  .subtitle {
    max-width: 820px;
    margin: 0 auto 60px;
  }
}

.platform {
  &-tabs {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    width: 100%;
    max-width: 1130px;
    padding: 0;
    margin: 0 auto 50px;

    &::before, &::after {
      display: none;
    }

    .ui-tabs {
      &-nav {
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        height: 60px;
        margin: 0 0 60px;
        overflow: hidden;
        overflow-x: scroll;
        white-space: nowrap;

        &::before, &::after {
          display: none;
        }

        li {
          display: inline-flex;
          min-height: min-content;
          padding: 0;
          border-radius: 10px;
          transition: $transition-base;

          &.ui-tabs-active {
            background: #fff;

            .ui-tabs-anchor {
              padding: 15px 24px;
              color: $main-first-color;
              cursor: pointer;
              font-weight: bold;
            }
          }

          &.ui-state-hover {
            background: #fff;

            .ui-tabs-anchor {
              color: $main-first-color;
            }
          }

          .ui-tabs-anchor {
            width: 100%;
            padding: 0 24px;
            color: #fff;
            cursor: pointer;
            font-size: 20px;
            line-height: 28px;
            text-transform: capitalize;
            will-change: padding;
          }
        }
      }

      &-panel {
        width: 100%;
        padding: 0;
      }
    }

    &__content {
      position: relative;
      max-width: 750px;
    }

    &__desktop {
      display: none;
      @extend %glass;
    }

    &__mobile {
      position: relative;
      width: 100%;
      max-width: 220px;
      height: 432px;
      margin: 0 auto;
      z-index: 3;

      svg {
        position: absolute;
        width: 100%;
        height: 100%;
        fill: $main-light-color;
      }

      &-pic {
        img {
          position: absolute;
          top: 0;
          left: 50%;
          width: 100%;
          max-width: 220px;
          height: 100%;
          max-height: 432px;
          transform: translateX(-50%);
          z-index: -1;
        }
      }
    }

    &__message {
      position: absolute;
      right: 100px;
      bottom: 100px;
      max-width: 396px;
      padding: 20px 24px 28px;
      margin: 0;
      background: $main-light-color;
      box-shadow: 0 0 27px rgba(0, 0, 0, .3);
      border-radius: 10px;
      color: $main-first-color;
      letter-spacing: 0.005em;
      line-height: 26px;
      z-index: 5;
    }
  }

  &-partners {
    //transform: translate(0, -15%);
  }

  &-slider {
    padding: 0 0 20px;

    &__card {
      position: relative;
      padding: 20px 10px;
      background: #ffffff;
      border-radius: 10px;

      &-wrap {
        @extend %glass;
        width: 100%;
        padding: 6px;
        border: 1px solid #fff;
        border-radius: 13px;
      }

      &-head {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        margin: 0 0 20px;
      }

      &-company {
        position: absolute;
        top: 0;
        right: 20px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      &-pic {
        margin-right: 12px;

        img {}
      }

      &-info {
        flex: 1 1 auto;
      }

      &-author {
        margin: 0 0 4px;
        font-weight: 700;
        line-height: 22px;
      }

      &-position {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
      }

      &-text {
        margin: 0;
        color: #4d4f6a;
        font-weight: 300;
        letter-spacing: -0.02em;

        svg {
          width: 16px;
          height: 14px;
          margin-right: 10px;
          fill: $main-third-color;
          transform: translateY(-7px);
        }
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .platform-slider {
    &__card {
      max-width: 380px;
    }
  }
}
@include media-breakpoint-up(md) {
  .platform-tabs {
    &__desktop {
      display: block;
      width: 100%;
      max-width: 750px;
      padding: 40px 20px 20px;
      border: 1px solid #fff;
      border-radius: 13px;

      &-content {
        width: 100%;
        height: 450px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;

        picture {
          img {
            width: 100%;
            max-width: 708px;
            height: 100%;
            max-height: 450px;
            object-fit: cover;
            object-position: top left;
          }
        }
      }
    }

    &__mobile {
      position: absolute;
      top: -40px;
      right: -84px;

      svg {
        fill: $main-first-color;
      }
    }

    &__message {
      background: #222349;
      color: #fff;
    }
  }
}
@include media-breakpoint-up(lg) {
  .section-platform {
    height: 1090px;
  }

  .platform-tabs {
    flex-direction: row;
    .ui-tabs-nav {
      flex-direction: column;
      align-content: flex-start;
      align-items: flex-start;
      height: auto;
      margin-right: 70px;
      overflow: inherit;

      li {
        width: 225px;
        margin: 0 0 22px;

        &.ui-tabs-active {
          margin: 0 0 16px;
        }
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  .platform {
    &-tabs {
      flex-direction: row;

      .ui-tabs {

      }
    }

    &-slider {
      &__card {
        padding: 20px;

        &-wrap {
          padding: 12px;
        }

        &-company {
          top: 10px;
        }
      }
    }
  }
}