.section-pricing {}

.pricing {
  &-tabs {
    padding: 0;
    margin: 0;
    transform: translateY(-125px);

    .ui-tabs {
      &-nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        padding: 0;
        margin: 0 0 100px;

        &::before, &::after {
          display: none;
        }

        li {
          position: relative;
          max-width: 280px;
          height: 270px;
          max-height: 275px;
          padding: 0 !important;
          margin: 0;
          background: white;
          border-radius: 10px;
          box-shadow: 0 0 26px rgba(0, 0, 0, 0.12);
          cursor: pointer;
          overflow: hidden;
          transition: $transition-base;
          z-index: 0;

          &:not(:last-child) {
            margin: 0 15px 0 0;
          }

          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            width: 100%;
            height: 0;
            background: $main-third-color;
            border-radius: 10px 10px 0 0;
            transform: translate(-50%, 0);
            transition: $transition-base;
          }

          &.ui-tabs-active {
            margin-bottom: 0;
            box-shadow: none;

            &::before {
              height: 10px;
            }

            .ui-tabs-anchor {

            }
          }

          &.ui-state-hover {

            .ui-tabs-anchor {

            }
          }

          .ui-tabs-anchor {
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            align-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 42px 60px 48px;
            text-align: center;
          }
        }
      }

      &-panel {
        padding: 0;
        margin: 0;
      }
    }

    &__nav {
      &-title {
        margin: 0 0 6px;
        font-size: 22px;
        font-weight: 700;
        line-height: 28px;
      }
      &-text {
        margin: 0 0 27px;
        line-height: 22px;
      }
    }
  }

  .title {
    margin: 0 0 11px;
  }

  .subtitle {
    margin: 0 0 47px;
  }

  &-group {
    margin-bottom: 60px;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 26px rgba(0, 0, 0, 0.12);
  }

  &-services {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    padding: 52px 36px 20px;

    &__box {
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;
      width: 100%;
      max-width: 300px;
      margin-bottom: 37px;
    }

    &__ico {
      flex: 0 0 auto;
      position: relative;
      width: 44px;
      height: 44px;
      background: #eef7fd;
      border-radius: 10px;

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 28px;
        height: 28px;
        transform: translate(-50%, -50%);
      }
    }

    &__info {
      display: inline-flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;
      padding-left: 20px;
    }

    &__name {
      margin: 0 0 8px;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
    }

    &__text {
      margin: 0;
      line-height: 26px;
    }
  }

  &-service {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;

    &__box {
      display: inline-flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
      padding: 40px 36px;

      &-wrap {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: stretch;
        align-items: stretch;
        width: 100%;
      }
    }

    &__ico {
      flex: 0 0 auto;
      position: relative;
      width: 44px;
      height: 44px;
      background: #eef7fd;
      border-radius: 10px;

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 28px;
        height: 28px;
        transform: translate(-50%, -50%);
      }
    }

    &__info {
      display: inline-flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;
      padding-left: 20px;
    }

    &__name {
      margin: 0 0 8px;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
    }

    &__text {
      margin: 0;
      line-height: 26px;
    }

    &__tag {
      padding: 45px 78px;
      border-left: 1px solid #ECECEC;
    }

    &__purpose {
      margin: 0 0 11px;
    }

    &__sum {
      margin: 0;
      font-size: 22px;
      font-weight: 700;
      line-height: 28px;
    }
  }

  &-tags {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    border-top: 1px solid #ECECEC;

    &__item {
      flex: 1 1 auto;
      display: inline-flex;
      flex-flow: column wrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      padding: 44px 0;


      &:not(:last-child) {
        border-right: 1px solid #ECECEC;
      }
    }

    &__text {
      margin: 0 0 11px;
    }

    &__sum {
      margin: 0;
      font-size: 22px;
      font-weight: 700;
      line-height: 28px;
    }
  }

  &-signature {
    margin: 0;
    line-height: 26px;

    &__link {
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;

      svg {
        width: 12px;
        height: 12px;
        margin-left: 11px;
      }
    }
  }
}