.section-subscribe {
  padding: 100px 0;

  .subtitle {
    margin: 0 0 100px;
  }
}

.subscribe {
  &__pic {
    position: relative;
    display: block;
    width: 100%;
    max-width: 380px;
    height: 466px;
    background: $main-third-color;
    border-radius: 10px;

    img {
      position: absolute;
      bottom: 0;
      max-width: 100%;
    }
  }
}