/*************************************************
********************* CONTENT ********************
*************************************************/
.content {
  order: 2;
  -webkit-order: 2;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  min-width: 320px;
  max-width: 100%;
}

@import './components/main-home';
@import './components/home';
@import './components/partners';
@import './components/story';
@import './components/platform';
@import './components/secure';
@import './components/events';
@import './components/events-info';
@import './components/reviews';
@import './components/app';
@import './components/subscribe';
@import './components/benefits';
@import './components/actions';
@import './components/heading';
@import './components/pricing';
@import './components/calculate';
@import './components/connected';