/*************************************************
********************* FOOTER *********************
*************************************************/
footer.footer {
  order: 3;
  -webkit-order: 3;
  position: relative;
  max-width: 100%;
}

.footer {
  &-top {
    padding: 60px 0;
    background: #fcfbfa;

    .container {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;
    }
  }

  &-bottom {
    padding: 15px 0;

    .container {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
    }

    &__nav {
      display: inline-flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
      padding: 0;
      margin: 0;

      li {
        margin: 0 0 16px;

        a {

        }
      }
    }
  }

  &-info {
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    width: 100%;

    .logo {
      display: inline-block;
      margin-bottom: 25px;

      svg {
        width: 200px;
        height: 28px;
        fill: $main-first-color;
      }
    }

    &__downloads {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;

      a {
        &:not(:last-child) {
          margin-right: 20px;
        }

        svg {
          width: 133px;
          height: 40px;
          fill: $main-first-color;
        }
      }
    }
  }

  &-column {
    flex: 0 0 100%;
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-top: 50px;
    text-align: center;
  }

  &__nav {
    &-title {
      margin: 0 0 28px;
      font-weight: 700;
      line-height: 22px;
    }

    &-list {
      padding: 0;
      margin: 0 0 20px;

      li {
        &:not(:last-child) {
          margin: 0 0 16px;
        }

        a {}
      }
    }
  }

  .social-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

    li {
      &:not(:last-child) {
        margin-right: 20px;
      }

      a {
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  &-lang {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: 0;

    li {
      &:not(:first-child) {
        margin-left: 20px;

        &::before {
          content: '';
          margin-right: 20px;
          border-right: 1px solid $main-first-color;
        }
      }

      a {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;

        &.footer-lang__current {
          font-weight: 700;
        }
      }
    }
  }
}

.copyright {
  order: 1;
  margin: 0;
  text-align: center;
}

@include media-breakpoint-up(sm) {
  .footer {
    &-top {
      .container {
        flex-direction: row;
      }
    }

    &-bottom {
      &__nav {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: 0 0 16px;

        li {
          margin: 0 10px 0 0;
        }

        &-list {
        }
      }
    }

    &-column {
      flex: 0 0 32%;
      align-content: flex-start;
      align-items: flex-start;
      text-align: left;
    }
  }

  .copyright {
    text-align: left;
  }
}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {
  .footer {
    &-top {
      padding: 90px 0 100px;
    }

    &-bottom {
      padding: 30px 0;

      .container {
        flex-direction: row;
        justify-content: space-between;
      }

      &__nav {
        width: auto;
        margin: 0;

        li {
          margin: 0 20px 0 0;
        }
      }
    }

    &-column {
      align-content: flex-start;
      align-items: flex-start;
      max-width: 190px;
      margin: 0 0 0 100px;
      text-align: left;
    }
  }

  .copyright {
    order: 0;
  }
}
@include media-breakpoint-up(xl) {
  .footer {
    &-bottom {
      &__nav {
        li {
          margin: 0;
          &:not(:last-child) {
            margin: 0 80px 0 0;
          }
        }
      }
    }

    &__info {
      max-width: 400px;
    }
  }
}