/*************************************************
********************* HEADER *********************
*************************************************/
header.header {
  order: 1;
  -webkit-order: 1;
  position: absolute;
  top: 0;
  min-width: 320px;
  width: 100%;
  z-index: 100;
  transform: translateY(0%);
  transition: $transition-base;

  &.scrollable {
    position: fixed;
    background: #fff;
    transition: $transition-base;

    .header {
      .container {
        padding-top: 20px;
        padding-bottom: 20px;
        color: $main-first-color;
      }

      &__menu {
        &-toggle {
          border-color: $main-first-color;

          &::before, &::after, span {
            background: $main-first-color;
          }
        }

        li {
          &> a {
            color: $main-first-color;

            svg {
              fill: $main-first-color;
            }
          }
        }
      }

      &__tools {
        &-btn {
          &_top {
            display: none;
          }
          &_scrollable {
            display: inline-flex;
          }
        }

        .btn-link {
          color: $main-first-color;
        }
      }

      &__languages {
        &-current {
          color: $main-first-color;
        }
      }

      &__login {
        border-color: $main-first-color;
        color: $main-first-color;
      }
    }

    .logo {
      svg {
        fill: $main-first-color;
      }
    }
  }

  &.hide {
    transform: translateY(-100%);
  }

  &.text-primary {
    .header {
      .container {
        color: $main-first-color;
      }

      &__menu {
        &-toggle {
          border-color: $main-first-color;

          &::before, &::after, span {
            background: $main-first-color;
          }
        }

        li {
          &> a {
            color: $main-first-color;

            svg {
              fill: $main-first-color;
            }
          }
        }
      }

      &__tools {
        .btn {
          svg {
            fill: $main-first-color;
          }
        }

        .btn-link {
          color: $main-first-color;
        }
      }

      &__languages {
        &-current {
          color: $main-first-color;
        }
      }

      &__login {
        border-color: $main-first-color;
        color: $main-first-color;
      }
    }

    .logo {
      svg {
        fill: $main-first-color;
      }
    }
  }

  .logo {
    order: 0;
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;

    svg {
      width: 180px;
      height: 26px;
      fill: $main-light-color;
      transition: $transition-base;
    }
  }
}

.header {
  &> .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    min-height: 76px;
    //padding-top: 15px;
    //padding-bottom: 15px;
    transition: $transition-base;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 50%;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    width: 92%;
    padding: 40px 24px;
    margin: 0;
    background: white;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%);
    transition: $transition-base;

    &.opened {
      top: 15px;
      opacity: 1;
      visibility: visible;
    }

    &-wrap {
      align-self: center;
      order: 1;
    }

    &-toggle {
      position: relative;
      width: 32px;
      height: 32px;
      padding: 0;
      margin-right: 16px;
      background: none;
      border: 1px solid $main-light-color;
      border-radius: 100%;

      &::before, &::after, span {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 18px;
        height: 1px;
        background: $main-light-color;
        transform: translate(-50%, -50%);
        transition: $transition-base;
        pointer-events: none;
      }

      &::before {
        top: 34%;
      }

      &::after {
        top: 65%;
      }

      &.opened {
        border-color: $main-third-color;

        z-index: 3;

        &::before, &::after {
          top: 50%;
          background: $main-third-color;
        }

        &::before {
          transform: translate(-50%, -50%) rotate3d(0, 0, 1, 135deg);
        }
        &::after {
          transform: translate(-50%, -50%) rotate3d(0, 0, 1, -135deg);
        }

        span {
          background: $main-third-color;
          filter: blur(10px);
          opacity: 0;
          visibility: hidden;
        }
      }
    }

    &> li {
      padding: 0 0 16px;
      border-bottom: 1px solid #ECECEC;

      &:not(:last-child) {
        margin: 0 0 30px;
        margin: 0 0 16px;
      }

      &:hover {
        &> a {
          svg {
            transform: rotate3d(1, 0, 0, 180deg);
          }
        }

        .header__menu-drop {
          height: auto;
          padding: 16px 0 0;
          transform: translate(-50%, 0) scaleY(1);
          transition-delay: 0s;

          &::before {
            transform: translate(-50%, 0%);
            transition-delay: .15s;
          }
        }
      }

      &> a {
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        color: $main-first-color;
        font-weight: 600;
        text-decoration: none;

        svg {
          width: 13px;
          height: 13px;
          margin-left: 10px;
          transition: $transition-base;
        }

        &:hover {
          color: #9B9CAC;

          svg {
            fill: #9B9CAC;
          }
        }
      }
    }

    &-drop {
      position: relative;
      top: 100%;
      left: 50%;
      width: 100%;
      height: 0;
      padding: 0;
      margin: 0 0 0;
      background: white;
      transform: translate(-50%, -50%) scaleY(0);

      .container {
        padding: 0;
      }

      &-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: stretch;
        align-items: stretch;
        padding: 0;
        margin: 0;
      }

      li {
        flex: 0 0 100%;
        max-width: 450px;
        &:not(:last-child) {
          margin: 0 0 8px;
        }

        a {
          display: inline-flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-content: flex-start;
          align-items: flex-start;
          color: $main-first-color;

          svg {
            flex: 0 0 auto;
            width: 24px;
            height: 20px;
            margin-top: 3px;
            transition: $transition-base;
          }

          &:hover {
            text-decoration: none;

            svg {
              transform: translateX(-10px);
            }

            .header__menu-drop-content {
              &-title {
                text-decoration: none;
              }

              &-text {
                color: #4d4f6a;
                font-weight: 400;
                text-decoration: none;
              }
            }
          }
        }
      }

      &-content {
        padding-left: 8px;

        &-title {
          margin: 0;
          font-size: 13px;
          font-weight: 600;
          line-height: 28px;
        }

        &-text {
          margin: 0;
          font-size: 12px;
          font-weight: 400;
          line-height: 17px;
        }
      }
    }
  }

  &__tools {
    //order: 3;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    //width: 100%;
    margin-top: 10px;

    &-group {
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
    }

    &-btn {
      transition: $transition-base;

      &_top {
        display: flex;
        align-content: center;
        align-items: center;
      }
      &_scrollable {
        display: none;
      }
    }

    .btn-link {
      color: $main-light-color;

      svg {
        width: 16px;
        height: 16px;
        margin-left: 10px;
        fill: $main-light-color;
      }
    }
  }

  &__languages {
    &:hover {
      .header__languages-list {
        transform: translate(0, 0) scaleY(1);
        transition-delay: 0s;

        &::before {
          transform: translate(-50%, 0%);
          transition-delay: .15s;
        }
      }
    }

    &-current {
      color: $main-light-color;
      cursor: pointer;
      text-transform: uppercase;
      transition: $transition-base;
    }

    &-list {
      position: absolute;
      padding: 8px 4px;
      margin: 6px 0 0;
      background: $main-light-color;
      border: 1px solid $main-first-color;
      border-radius: 8px;
      transform: translate(0, -50%) scaleY(0);
      transition: $transition-base;
      transition-duration: .15s;
      transition-delay: .15s;

      &::before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        border-width: 0 6px 6px;
        border-style: solid;
        border-color: transparent transparent $main-light-color;
        transform: translate(-50%, 100%);
        transition: $transition-base;
        transition-duration: .15s;
        transition-delay: 0s;
      }

      li {
        &:not(:last-child) {
          margin: 0 0 5px;
        }

        a {
          color: $main-first-color;
          font-weight: 600;
          text-decoration: none;

          &:hover {
            color: $main-second-color;
          }
        }
      }
    }
  }

  &__login {
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid $main-light-color;
    color: $main-light-color;

    &:hover {
      color: $main-second-color;
    }
  }
}

@media screen and (min-width: 320px) {}
@include media-breakpoint-up(sm) {
  .header {
    &> .container {
      min-height: 76px;
    }

    &__menu {
      top: 9.5%;

      &-toggle {
        margin-right: auto;
      }
    }

    &__tools {
      order: 0;
      justify-content: flex-start;
      width: auto;
      margin: 0;

      &-group {
        margin-right: 10px;
      }
    }
  }
}
@include media-breakpoint-up(md) {
  .header {
    &__tools {
      &-group {
        margin-right: 20px;
      }
    }

    &__login {
      padding-left: 20px;
      margin-left: 20px;
    }
  }
}
@include media-breakpoint-up(lg) {
  .header {
    .container {
      align-content: stretch;
      align-items: stretch;
    }

    &__menu {
      position: static;
      flex-direction: row;
      width: auto;
      padding: 0;
      background: none;
      opacity: 1;
      visibility: visible;
      transform: none;

      &-wrap {
        order: 0;
      }

      &-toggle {
        display: none;
      }

      &> li {
        padding: 26px 0;
        border: none;

        &:not(:last-child) {
          margin: 0 30px 0 0;
        }

        &> a {
          color: $main-light-color;

          svg {
            fill: $main-light-color;
          }
        }
      }

      &-drop {
        position: fixed;
        height: auto;
        padding: 60px 8px 30px !important;
        box-shadow: 0 9px 20px rgba(34, 35, 73, 0.05);
        transition: $transition-base;
        transition-duration: .15s;
        transition-delay: .15s;

        li {
          margin: 0 0 30px !important;

          &> a {
            color: $main-first-color;
          }
        }

        &-content {
          padding-left: 12px;

          &-title {
            margin: 0 0 9px;
            font-size: 22px;
            font-weight: 700;
            line-height: 28px;
          }

          &-text {
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(xl) {}


@include media-breakpoint-down(xs) {
  .header {
    &__tools {
      margin: 0 10px 0 auto;

      &-btn {
        display: none !important;
      }
    }
  }
}
@media screen and (max-width: 395px) {
  .header {
    &__tools {
      display: none;
    }
  }
}