/*************************************************
********************* HEADER *********************
*************************************************/
header.header {
  order: 1;
  -webkit-order: 1;
  position: absolute;
  min-width: 320px;
  width: 100%;
  z-index: 100;
  transition: $transition-base;

  &.scrollable {
    position: fixed;
    background: #fff;
    transition: $transition-base;

    .header {
      &-content {
        padding: 40px 0 25px;
        color: $main-first-color;

        .btn {
          color: $main-first-color;
        }
      }

      &__menu {
        li {
          &> a {
            color: $main-first-color;

            svg {
              fill: $main-first-color;
            }
          }
        }
      }

      &__languages {
        &-current {
          color: $main-first-color;
        }

        &::after {
          border-color: $main-first-color;
        }
      }

      &__login {
        color: $main-first-color;
      }
    }

    .logo {
      svg {
        fill: $main-first-color;
      }
    }

    &.hide {
      transform: translateY(-100%);
    }
  }
}

.logo {
  svg {
    width: 180px;
    height: 26px;
    fill: $main-light-color;
    transition: $transition-base;
  }

  &:hover {
    svg {
      fill: $main-second-color;
    }
  }
}

.header {
  &-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-top: 30px;
    transition: $transition-base;

    .btn {
      color: $main-light-color;
    }
  }

  &__menu {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

    li {
      &:not(:last-child) {
        margin-right: 30px;
      }

      &:hover {
        a {
          svg {
            transform: rotate3d(1, 0, 0, 180deg);
          }
        }

        .header__menu-drop {
          transform: translate(0, 0) scaleY(1);
          transition-delay: 0s;

          &::before {
            transform: translate(-50%, 0%);
            transition-delay: .15s;
          }
        }
      }

      &> a {
        color: $main-light-color;
        font-weight: 600;
        text-decoration: none;

        svg {
          width: 13px;
          height: 13px;
          fill: $main-light-color;
          transition: $transition-base;
        }

        &:hover {
          color: $main-second-color;

          svg {
            fill: $main-second-color;
          }
        }
      }
    }

    &-drop {
      position: absolute;
      padding: 8px;
      margin: 10px 0 0;
      background: $main-light-color;
      border: 1px solid $main-first-color;
      border-radius: 16px;
      transform: translate(0, -50%) scaleY(0);
      transition: $transition-base;
      transition-duration: .15s;
      transition-delay: .15s;

      &::before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        border-width: 0 10px 10px;
        border-style: solid;
        border-color: transparent transparent $main-light-color;
        transform: translate(-50%, 100%);
        transition: $transition-base;
        transition-duration: .15s;
        transition-delay: 0s;
      }

      li {
        &:not(:last-child) {
          margin: 0 0 8px;
        }

        a {
          color: $main-first-color;
        }
      }
    }
  }

  &__tools {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
  }

  &__languages {
    margin-right: 20px;

    &::after {
      content: '';
      border-right: 1px solid #fff;
      margin-left: 20px;
      transition: $transition-base;
    }

    &:hover {
      .header__languages-list {
        transform: translate(0, 0) scaleY(1);
        transition-delay: 0s;

        &::before {
          transform: translate(-50%, 0%);
          transition-delay: .15s;
        }
      }
    }

    &-current {
      color: $main-light-color;
      cursor: pointer;
      text-transform: uppercase;
      transition: $transition-base;
    }

    &-list {
      position: absolute;
      padding: 8px 4px;
      margin: 6px 0 0;
      background: $main-light-color;
      border: 1px solid $main-first-color;
      border-radius: 8px;
      transform: translate(0, -50%) scaleY(0);
      transition: $transition-base;
      transition-duration: .15s;
      transition-delay: .15s;

      &::before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        border-width: 0 6px 6px;
        border-style: solid;
        border-color: transparent transparent $main-light-color;
        transform: translate(-50%, 100%);
        transition: $transition-base;
        transition-duration: .15s;
        transition-delay: 0s;
      }

      li {
        &:not(:last-child) {
          margin: 0 0 5px;
        }

        a {
          color: $main-first-color;
          font-weight: 600;
          text-decoration: none;

          &:hover {
            color: $main-second-color;
          }
        }
      }
    }
  }

  &__login {
    color: $main-light-color;

    &:hover {
      color: $main-second-color;
    }
  }
}