<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Главная</title>
</head>
<body class="loaded">
<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header">
        <div class="container">
            <div class="header-content">
                <ul class="header__nav-menu">
                    <li>
                        <a href="#">Platform <svg><use xlink:href="./img/spritemap.svg#sprite-chevron-down"></use></svg></a>
                    </li>

                    <li>
                        <a href="#">Pricing</a>
                    </li>

                    <li>
                        <a href="#">Blog</a>
                    </li>

                    <li>
                        <a href="#">Contact Us</a>
                    </li>
                </ul>

                <a href="index.html" class="logo"><svg><use xlink:href="./img/spritemap.svg#sprite-logo"></use></svg></a>

                <div class="header__tools">
                    <div class="languages">
                        <span class="languages__current">Eng</span>

                        <ul class="languages__list">
                            <li><a href="#">Ru</a></li>
                            <li><a href="#">Ua</a></li>
                        </ul>
                    </div>

                    <a href="#" class="login">Log in</a>

                    <button type="button">Explore Events</button>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main class="content">
        <section class="section section-main-home">
            <div class="container">

            </div>
        </section>


        <div class="section">
            <div class="container">
                <h2>Section Slider</h2>

                <div class="main-slider swiper-container">
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
                            </picture>
                        </div>
                    </div>

                    <div class="swiper-pagination"></div>

                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                    <!--<div class="swiper-scrollbar"></div>-->
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <h2>Section Pictures</h2>
                <picture>
                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="loader" title="loader">
                </picture>

                <svg>
                    <use xlink:href="img/spritemap.svg#sprite-ok"></use>
                </svg>
            </div>
        </div>
    </main>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container bg-info">
            <h3 class="m-0">Footer Title</h3>
        </div>
    </footer>
    <!-- FOOTER END -->
</div>

<div class="icon-load">
    <picture><img src="<%= require('./img/loader.svg') %>" alt="pre-loader"></picture>
</div>
<!-- BODY END   -->
</body>
</html>
