<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Главная</title>
</head>
<body class="loaded">
<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header">
        <div class="container">
            <button type="button" class="header-content__toggle" hidden></button>
            <div class="header-content">
                <ul class="header__menu">
                    <li>
                        <a href="#">Platform <svg><use xlink:href="./img/spritemap.svg#sprite-chevron-down"></use></svg></a>

                        <ul class="header__menu-drop">
                            <li><a href="#">dropdown link</a></li>
                            <li><a href="#">dropdown link</a></li>
                            <li><a href="#">dropdown link</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">Pricing</a>
                    </li>

                    <li>
                        <a href="#">Blog</a>
                    </li>

                    <li>
                        <a href="#">Contact Us</a>
                    </li>
                </ul>

                <a href="index.html" class="logo"><svg><use xlink:href="./img/spritemap.svg#sprite-logo"></use></svg></a>

                <div class="header__tools">
                    <div class="header__languages">
                        <span class="header__languages-current">Eng</span>

                        <ul class="header__languages-list">
                            <li><a href="#">Ru</a></li>
                            <li><a href="#">Ua</a></li>
                        </ul>
                    </div>

                    <a href="#" class="header__login">Log in</a>

                    <a href="#" class="btn btn-link">Explore Events</a>
                    <a href="#" class="btn btn-link" hidden>Request a Demo</a>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main class="content">
        <section class="section section-main-home bg-gradient">
            <div class="container main-home">
                <h1 class="main-home__title">EVENTS <span>OF <br>THE</span> FUTURE</h1>

                <p class="main-home__text">User-friendly event management, engagement, and networking tools for your onsite, virtual, and hybrid events, all in a single platform</p>

                <div class="main-home__buttons">
                    <button type="button" class="btn btn-light">Request a demo</button>
                    <button type="button" class="btn btn-gradient btn-gradient_light">Create a platform</button>
                </div>

                <div class="main-home__team">
                    <div class="main-home__team-box-wrap">
                        <div class="main-home__team-box bg-primary">
                            <div class="main-home__team-box-front">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/team01.png') %>" alt="image" title="image">
                                </picture>
                            </div>
                            <div class="main-home__team-box-back">
                                <p class="main-home__team-box-title">Back side</p>
                                <p class="main-home__team-box-text">Easily add or remove any text on your flip box!</p>
                                <button class="btn btn-light">read more</button>
                            </div>
                        </div>
                    </div>

                    <div class="main-home__team-box-wrap">
                        <div class="main-home__team-box bg-info">
                            <div class="main-home__team-box-front">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/team02.png') %>" alt="image" title="image">
                                </picture>
                            </div>
                            <div class="main-home__team-box-back">
                                <p class="main-home__team-box-title">Back side</p>
                                <p class="main-home__team-box-text">Easily add or remove any text on your flip box!</p>
                                <button class="btn btn-primary">read more</button>
                            </div>
                        </div>
                    </div>

                    <div class="main-home__team-box-wrap">
                        <div class="main-home__team-box bg-danger">
                            <div class="main-home__team-box-front">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/team03.png') %>" alt="image" title="image">
                                </picture>
                            </div>
                            <div class="main-home__team-box-back">
                                <p class="main-home__team-box-title">Back side</p>
                                <p class="main-home__team-box-text">Easily add or remove any text on your flip box!</p>
                                <button class="btn btn-primary">read more</button>
                            </div>
                        </div>
                    </div>

                    <div class="main-home__team-box-wrap">
                        <div class="main-home__team-box bg-info">
                            <div class="main-home__team-box-front">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/team04.png') %>" alt="image" title="image">
                                </picture>
                            </div>
                            <div class="main-home__team-box-back">
                                <p class="main-home__team-box-title">Back side</p>
                                <p class="main-home__team-box-text">Easily add or remove any text on your flip box!</p>
                                <button class="btn btn-primary">read more</button>
                            </div>
                        </div>
                    </div>

                    <div class="main-home__team-box-wrap">
                        <div class="main-home__team-box bg-primary">
                            <div class="main-home__team-box-front">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/team05.png') %>" alt="image" title="image">
                                </picture>
                            </div>
                            <div class="main-home__team-box-back">
                                <p class="main-home__team-box-title">Back side</p>
                                <p class="main-home__team-box-text">Easily add or remove any text on your flip box!</p>
                                <button class="btn btn-light">read more</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-partners">
            <div class="container"></div>
        </section>

        <section class="section section-platform">
            <div class="container"></div>
        </section>

        <section class="section section-secure-info">
            <div class="container"></div>
        </section>

        <section class="section section-events">
            <div class="container"></div>
        </section>

        <section class="section section-reviews">
            <div class="container"></div>
        </section>

        <section class="section section-mobile-app">
            <div class="container"></div>
        </section>

        <section class="section section-subscribe">
            <div class="container"></div>
        </section>

        <div>
            <!--<div class="section">
                <div class="container">
                    <h2>Section Slider</h2>

                    <div class="main-slider swiper-container">
                        <div class="swiper-wrapper">
                            &lt;!&ndash; Slides &ndash;&gt;
                            <div class="swiper-slide">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
                                </picture>
                            </div>

                            <div class="swiper-slide">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
                                </picture>
                            </div>

                            <div class="swiper-slide">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
                                </picture>
                            </div>

                            <div class="swiper-slide">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
                                </picture>
                            </div>

                            <div class="swiper-slide">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
                                </picture>
                            </div>
                        </div>

                        <div class="swiper-pagination"></div>

                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>

                        &lt;!&ndash;<div class="swiper-scrollbar"></div>&ndash;&gt;
                    </div>
                </div>
            </div>-->

            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-primary">Главный</button>
                            <button type="button" class="btn btn-secondary">Вторичный</button>
                            <button type="button" class="btn btn-success">Успех</button>
                            <button type="button" class="btn btn-danger">Опасность</button>
                            <button type="button" class="btn btn-warning">Предупреждение</button>
                            <button type="button" class="btn btn-info">Инфо</button>
                            <button type="button" class="btn btn-light">Светлый</button>
                            <button type="button" class="btn btn-dark">Темный</button>

                            <button class="btn btn-gradient btn-gradient_light">Градиент</button>
                            <button class="btn btn-gradient btn-gradient_dark">Градиент</button>

                            <button type="button" class="btn btn-link">Линк</button>
                            <button type="button" class="btn btn-light btn-link">Линк</button>

                            <span class="color-separator color-separator_dark"></span>
                            <div class="bg-gradient">
                                <span class="color-separator color-separator_light"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-outline-primary">Главный</button>
                            <button type="button" class="btn btn-outline-secondary">Вторичный</button>
                            <button type="button" class="btn btn-outline-success">Успех</button>
                            <button type="button" class="btn btn-outline-danger">Опасность</button>
                            <button type="button" class="btn btn-outline-warning">Предупреждение</button>
                            <button type="button" class="btn btn-outline-info">Инфо</button>
                            <button type="button" class="btn btn-outline-light">Светлый</button>
                            <button type="button" class="btn btn-outline-dark">Темный</button>
                        </div>
                    </div>

                    <picture>
                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="loader" title="loader">
                    </picture>

                    <svg>
                        <use xlink:href="img/spritemap.svg#sprite-ok"></use>
                    </svg>
                </div>
            </div>
        </div>
    </main>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="footer-info">
                <a href="index.html"><svg><use xlink:href="./img/spritemap.svg#sprite-logo"></use></svg></a>
            </div>
            <div class="footer-column"></div>
            <div class="footer-column"></div>
            <div class="footer-column"></div>
        </div>
        <div class="container">

        </div>
    </footer>
    <!-- FOOTER END -->
</div>

<div class="icon-load">
    <picture><img src="<%= require('./img/loader.svg') %>" alt="pre-loader"></picture>
</div>
<!-- BODY END   -->
</body>
</html>
