<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Главная</title>
</head>
<body class="loaded">
<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header">
        <div class="container">
            <div class="header__menu-wrap" hidden>
                <button type="button" class="header__menu-toggle">
                    <span></span>
                </button>
                <ul class="header__menu">
                    <li>
                        <a href="#">Platform
                            <svg>
                                <use xlink:href="./img/spritemap.svg#sprite-chevron-down"></use>
                            </svg>
                        </a>

                        <ul class="header__menu-drop">
                            <li><a href="#">dropdown link</a></li>
                            <li><a href="#">dropdown link</a></li>
                            <li><a href="#">dropdown link</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">Pricing</a>
                    </li>

                    <li>
                        <a href="#">Blog</a>
                    </li>

                    <li>
                        <a href="#">Contact Us</a>
                    </li>
                </ul>
            </div>

            <a href="index.html" class="logo">
                <svg>
                    <use xlink:href="./img/spritemap.svg#sprite-logo"></use>
                </svg>
            </a>

            <div class="header__tools">
                <div class="header__tools-group">
                    <div class="header__languages">
                        <a href="#lang" class="header__languages-current">Eng</a>
                    </div>

                    <a href="#" class="header__login">Log in</a>
                </div>

                <a href="#" class="btn btn-link header__tools-btn header__tools-btn_top">Explore events
                    <svg>
                        <use xlink:href="./img/spritemap.svg#sprite-arrow-right"></use>
                    </svg>
                </a>
                <a href="#" class="btn btn-primary header__tools-btn header__tools-btn_scrollable">Request a Demo</a>
            </div>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main class="content">
        <section class="section section-heading bg-gradient">
            <div class="container heading">
                <h1 class="heading__title">Pricing</h1>
                <p class="subtitle text-white m-0">Enjoy the flexibility to get what you want and pay exactly for what you need</p>
            </div>
        </section>

        <section class="section section-pricing">
            <div class="container pricing">
                <div id="tabs" class="pricing-tabs">
                    <ul>
                        <li>
                            <a href="#tabs-1">
                                <span class="pricing-tabs__nav-title">Free <br>tools</span>
                                <span class="pricing-tabs__nav-text">Free tools to host <br>a successful event</span>
                                <button type="button" class="btn btn-gradient btn-gradient_dark text-primary bg-white">Get access</button>
                            </a>
                        </li>

                        <li>
                            <a href="#tabs-2">
                                <span class="pricing-tabs__nav-title">Matchmaking <br>module</span>
                                <span class="pricing-tabs__nav-text">Advanced B2B event <br>networking tool</span>
                                <button type="button" class="btn btn-danger">Get access</button>
                            </a>
                        </li>

                        <li>
                            <a href="#tabs-3">
                                <span class="pricing-tabs__nav-title">Program <br>module</span>
                                <span class="pricing-tabs__nav-text">Create an engaging event <br>conference agenda</span>
                                <button type="button" class="btn btn-danger">Get access</button>
                            </a>
                        </li>

                        <li>
                            <a href="#tabs-4">
                                <span class="pricing-tabs__nav-title">Expo <br>module</span>
                                <span class="pricing-tabs__nav-text">Let your exhibitors show <br>off effectively</span>
                                <button type="button" class="btn btn-danger">Get access</button>
                            </a>
                        </li>
                    </ul>

                    <div id="tabs-1">
                        <p class="title">Free tools</p>
                        <p class="subtitle">Host your events professionally with EventsWallet free tools</p>

                        <div class="pricing-group">
                            <div class="pricing-services">
                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-04"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Event page</p>
                                        <p class="pricing-services__text">An awesome optimized even page</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-05"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Mobile app</p>
                                        <p class="pricing-services__text">Your event in EventsWallet mobile app</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-06"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Sponsorship</p>
                                        <p class="pricing-services__text">Promotion section for event sponsors</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-07"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Event QR</p>
                                        <p class="pricing-services__text">QR code system to attract audience</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-08"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Lobby section</p>
                                        <p class="pricing-services__text">A virtual auditorium for your event</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-09"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Streaming tool</p>
                                        <p class="pricing-services__text">Streaming from YouTube, Vimeo etc.</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-10"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Event contacts</p>
                                        <p class="pricing-services__text">Access to participants’ contact information</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-11"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Event group chat</p>
                                        <p class="pricing-services__text">Networking tool for the event’s attendees</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-12"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Messenger</p>
                                        <p class="pricing-services__text">One-to-one messaging and file sharing tool</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p class="pricing-signature">
                            Explore how EventsWallet can work for you. Fill out the form below and our team will help you find the best suited solution and calculate the
                            event cost.
                            <a href="#" class="pricing-signature__link">Get access
                                <svg>
                                    <use xlink:href="./img/spritemap.svg#sprite-arrow-right"></use>
                                </svg>
                            </a>
                        </p>
                    </div>

                    <div id="tabs-2">
                        <p class="title">Matchmaking module</p>
                        <p class="subtitle">Give your participants the ability to schedule appointments <br>and successful meetings easily</p>

                        <div class="pricing-group">
                            <div class="pricing-services">
                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-10"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Appointment system</p>
                                        <p class="pricing-services__text">Let participants schedule in-person and virtual meeting</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-13"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Calendar</p>
                                        <p class="pricing-services__text">Personal schedule synced with external calendar</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-14"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Notifications</p>
                                        <p class="pricing-services__text">Set up instant web and app notifications</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-15"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Virtual Meeting Rooms</p>
                                        <p class="pricing-services__text">Video conferencing tool with screen sharing</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-16"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Statistics</p>
                                        <p class="pricing-services__text">Get detailed analytics on event activities</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-17"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Contacts</p>
                                        <p class="pricing-services__text">Access to participants’ contact details and schedule</p>
                                    </div>
                                </div>
                            </div>

                            <div class="pricing-tags">
                                <div class="pricing-tags__item">
                                    <p class="pricing-tags__text">Up to 1000 users</p>
                                    <p class="pricing-tags__sum">$ 189</p>
                                </div>

                                <div class="pricing-tags__item">
                                    <p class="pricing-tags__text">Up to 3000 users</p>
                                    <p class="pricing-tags__sum">$ 489</p>
                                </div>

                                <div class="pricing-tags__item">
                                    <p class="pricing-tags__text">Up to 10 000 users</p>
                                    <p class="pricing-tags__sum">$ 1 289</p>
                                </div>

                                <div class="pricing-tags__item">
                                    <p class="pricing-tags__text">More than 10 000 users</p>
                                    <p class="pricing-tags__sum">Talk to sales</p>
                                </div>
                            </div>
                        </div>

                        <p class="pricing-signature">
                            Explore how EventsWallet can work for you. Fill out the form below and our team will help you find the best suited solution and calculate the
                            event cost.
                            <a href="#" class="pricing-signature__link">Get access
                                <svg>
                                    <use xlink:href="./img/spritemap.svg#sprite-arrow-right"></use>
                                </svg>
                            </a>
                        </p>
                    </div>

                    <div id="tabs-3">
                        <p class="title">Program module</p>
                        <p class="subtitle">Give your participants the ability to schedule appointments <br>and successful meetings easily</p>

                        <div class="pricing-group">
                            <div class="pricing-services">
                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-18"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Event schedule</p>
                                        <p class="pricing-services__text">Event program with unlimited number of halls</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-19"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Favorite session</p>
                                        <p class="pricing-services__text">Personal schedule with notification about favorite sessions</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-20"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Session documents</p>
                                        <p class="pricing-services__text">Attach valuable materials to each session</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-14"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Notifications</p>
                                        <p class="pricing-services__text">Set up instant web and app notifications</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-21"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Presence control</p>
                                        <p class="pricing-services__text">Track visitor presence during the session</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-16"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Statistics</p>
                                        <p class="pricing-services__text">Get detailed analytics on session viewed etc</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-22"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Surveys & polls</p>
                                        <p class="pricing-services__text">Get real-time feedback and interaction</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-23"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Session evaluation</p>
                                        <p class="pricing-services__text">Measure attendee satisfaction instantly</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-24"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Speakers profiles</p>
                                        <p class="pricing-services__text">Share speaker’s materials and contacts</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-04"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Sponsors promotion</p>
                                        <p class="pricing-services__text">Additional area to promote</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-11"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Group chat</p>
                                        <p class="pricing-services__text">Encourage attendees to communicate</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-25"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Speaker Q&A chat</p>
                                        <p class="pricing-services__text">Connect speakers with attendees</p>
                                    </div>
                                </div>
                            </div>

                            <div class="pricing-tags">
                                <div class="pricing-tags__item">
                                    <p class="pricing-tags__text">Up to 1000 users</p>
                                    <p class="pricing-tags__sum">$ 18 per session</p>
                                </div>

                                <div class="pricing-tags__item">
                                    <p class="pricing-tags__text">Up to 3000 users</p>
                                    <p class="pricing-tags__sum">$ 28 per session</p>
                                </div>

                                <div class="pricing-tags__item">
                                    <p class="pricing-tags__text">Up to 10 000 users</p>
                                    <p class="pricing-tags__sum">$ 38 per session</p>
                                </div>

                                <div class="pricing-tags__item">
                                    <p class="pricing-tags__text">More than 10 000 users</p>
                                    <p class="pricing-tags__sum">Talk to sales</p>
                                </div>
                            </div>
                        </div>

                        <div class="pricing-group">
                            <div class="pricing-service">
                                <div class="pricing-service__box-wrap">
                                    <div class="pricing-service__box">
                                        <div class="pricing-service__ico">
                                            <svg>
                                                <use xlink:href="./img/spritemap.svg#sprite-ico-15"></use>
                                            </svg>
                                        </div>

                                        <div class="pricing-service__info">
                                            <p class="pricing-service__name">Streaming tools (In-built tool, Zoom, OBS)</p>
                                            <p class="pricing-service__text">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pricing-tags">
                                <div class="pricing-tags__item">
                                    <p class="pricing-tags__text">Up to 1000 users</p>
                                    <p class="pricing-tags__sum">$ 20 per session</p>
                                </div>

                                <div class="pricing-tags__item">
                                    <p class="pricing-tags__text">Up to 3000 users</p>
                                    <p class="pricing-tags__sum">$ 30 per session</p>
                                </div>

                                <div class="pricing-tags__item">
                                    <p class="pricing-tags__text">Up to 10 000 users</p>
                                    <p class="pricing-tags__sum">$ 40 per session</p>
                                </div>

                                <div class="pricing-tags__item">
                                    <p class="pricing-tags__text">More than 10 000 users</p>
                                    <p class="pricing-tags__sum">Talk to sales</p>
                                </div>
                            </div>
                        </div>

                        <p class="pricing-signature">
                            Explore how EventsWallet can work for you. Fill out the form below and our team will help you find the best suited solution and calculate the
                            event cost.
                            <a href="#" class="pricing-signature__link">Get access
                                <svg>
                                    <use xlink:href="./img/spritemap.svg#sprite-arrow-right"></use>
                                </svg>
                            </a>
                        </p>
                    </div>

                    <div id="tabs-4">
                        <p class="title">Expo module</p>
                        <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br>tempor labore et dolore magna aliqua</p>

                        <div class="pricing-group">
                            <div class="pricing-services">
                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-18"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Exhibitors’ catalogue</p>
                                        <p class="pricing-services__text">Digital exhibitors catalogue and floor plan</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-16"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Team</p>
                                        <p class="pricing-services__text">A team working both at the live expo and virtually</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-10"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Company statistics</p>
                                        <p class="pricing-services__text">Сompany and team statistics</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-26"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Content</p>
                                        <p class="pricing-services__text">Photo, video and documents uploaded to the booth</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-07"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Exhibitors QR code</p>
                                        <p class="pricing-services__text">Exhibitors information accessible via unique QR</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-27"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Organiser statistics</p>
                                        <p class="pricing-services__text">Статистика организатора по всем активностям компании</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-28"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Product</p>
                                        <p class="pricing-services__text">Catalogue of goods, products, and services</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-29"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Buyer intent data</p>
                                        <p class="pricing-services__text">LoremLoremLoremLoremLorem Lorem</p>
                                    </div>
                                </div>

                                <div class="pricing-services__box">
                                    <div class="pricing-services__ico">
                                        <svg>
                                            <use xlink:href="./img/spritemap.svg#sprite-ico-20"></use>
                                        </svg>
                                    </div>
                                    <div class="pricing-services__info">
                                        <p class="pricing-services__name">Documents</p>
                                        <p class="pricing-services__text">oremLoremLoremLorem Lo Lorem</p>
                                    </div>
                                </div>
                            </div>

                            <div class="pricing-tags">
                                <div class="pricing-tags__item">
                                    <p class="pricing-tags__text">Per 1 company (expo booth)</p>
                                    <p class="pricing-tags__sum">$ 18 per month</p>
                                </div>
                            </div>
                        </div>

                        <div class="pricing-group">
                            <div class="pricing-service">
                                <div class="pricing-service__box-wrap">
                                    <div class="pricing-service__box">
                                        <div class="pricing-service__ico">
                                            <svg>
                                                <use xlink:href="./img/spritemap.svg#sprite-ico-15"></use>
                                            </svg>
                                        </div>

                                        <div class="pricing-service__info">
                                            <p class="pricing-service__name">Streaming tools (In-built tool, Zoom, OBS)</p>
                                            <p class="pricing-service__text">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                                        </div>
                                    </div>

                                    <div class="pricing-service__tag">
                                        <p class="pricing-service__purpose">Per 1 company (expo booth)</p>
                                        <p class="pricing-service__sum">$ 20 per month</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p class="pricing-signature">
                            Explore how EventsWallet can work for you. Fill out the form below and our team will help you find the best suited solution and calculate the
                            event cost.
                            <a href="#" class="pricing-signature__link">Get access
                                <svg>
                                    <use xlink:href="./img/spritemap.svg#sprite-arrow-right"></use>
                                </svg>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-calculate">
            <div class="container calculate">
                <span class="color-separator color-separator_dark"></span>
                <p class="title">Calculate the event cost</p>

                <div class="calculate__form-wrap">
                    <form action="" class="calculate__form">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="d-block form-group">
                                    <span class="field-label">First name</span>
                                    <input type="text" class="form-control" placeholder="First name">
                                </label>
                            </div>

                            <div class="col-sm-6">
                                <label class="d-block form-group">
                                    <span class="field-label">Last name</span>
                                    <input type="text" class="form-control" placeholder="Last name">
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label class="d-block form-group">
                                    <span class="field-label">Business email</span>
                                    <input type="email" class="form-control" placeholder="Business email">
                                </label>
                            </div>

                            <div class="col-sm-6">
                                <label class="d-block form-group">
                                    <span class="field-label">Phone number</span>
                                    <input type="tel" class="form-control" placeholder="Phone number">
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label class="d-block form-group">
                                    <span class="field-label">Event type</span>

                                    <select class="select-js" data-placeholder="Select an option">
                                        <option></option>
                                        <option value="01">option 1</option>
                                        <option value="02">option 2</option>
                                        <option value="03">option 3</option>
                                    </select>
                                    <span class="select-js-dropdown"></span>
                                </label>
                            </div>

                            <div class="col-sm-6">
                                <label class="d-block form-group">
                                    <span class="field-label">Number of sessions</span>

                                    <select class="select-js" data-placeholder="Select an option">
                                        <option></option>
                                        <option value="01">option 1</option>
                                        <option value="02">option 2</option>
                                        <option value="03">option 3</option>
                                    </select>
                                    <span class="select-js-dropdown"></span>
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label class="d-block form-group">
                                    <span class="field-label">Number of users</span>

                                    <select class="select-js" data-placeholder="Select an option">
                                        <option></option>
                                        <option value="01">option 1</option>
                                        <option value="02">option 2</option>
                                        <option value="03">option 3</option>
                                    </select>
                                    <span class="select-js-dropdown"></span>
                                </label>
                            </div>

                            <div class="col-sm-6">
                                <label class="d-block form-group">
                                    <span class="field-label">Number of exhibitors</span>

                                    <select class="select-js" data-placeholder="Select an option">
                                        <option></option>
                                        <option value="01">option 1</option>
                                        <option value="02">option 2</option>
                                        <option value="03">option 3</option>
                                    </select>
                                    <span class="select-js-dropdown"></span>
                                </label>
                            </div>
                        </div>

                        <label class="d-block form-group pb-2 mb-4">
                            <input type="checkbox">
                            <span class="checkbox">
                                    <span class="checkbox__style">
                                        <svg><use xlink:href="./img/spritemap.svg#sprite-check"></use></svg>
                                    </span>
                                    <span class="checkbox__text">I agree to EventWallet’s Terms of Service and Privacy Policy. I agree to receive product updates and marketing communications from EventsWallet</span>
                                </span>
                        </label>

                        <div class="text-center">
                            <button type="button" class="btn btn-danger px-5">Get pricing</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <section class="section section-connect bg-gradient">
            <div class="container">
                <span class="color-separator color-separator_light"></span>
                <p class="title text-white">Stay connected</p>
                <p class="subtitle text-white">Have any feedback or questions? We’d love to hear from you. Have any feedback or questions? <br>We’d love to hear from you.
                </p>

                <div class="text-center">
                    <a href="#" class="btn btn-light px-5 mx-2">Sign up</a>
                    <a href="#" class="btn btn-gradient btn-gradient_light px-5 -mx-2">Сontact us</a>
                </div>
            </div>
        </section>

        <section class="section section-partners">
            <div class="container">
                <div class="partners-slider swiper-container">
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner01.png') %>" alt="example" title="example">
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner02.png') %>" alt="example" title="example">
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner03.png') %>" alt="example" title="example">
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner04.png') %>" alt="example" title="example">
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner05.png') %>" alt="example" title="example">
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner06.png') %>" alt="example" title="example">
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner07.png') %>" alt="example" title="example">
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner08.png') %>" alt="example" title="example">
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner09.png') %>" alt="example" title="example">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="footer-info">
                    <a href="index.html" class="logo">
                        <svg>
                            <use xlink:href="./img/spritemap.svg#sprite-logo"></use>
                        </svg>
                    </a>

                    <p>EventsWallet is an innovative SaaS event platform for in-person, virtual, and hybrid events. The platform allows expo and conference organisers
                        to run
                        an effective event by keeping the audience engaged with easy-to-use event management and communication web and app tools.</p>

                    <div class="footer-info__downloads">
                        <a href="#">
                            <svg>
                                <use xlink:href="./img/spritemap.svg#sprite-app-store"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="./img/spritemap.svg#sprite-google-play"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="footer-column">
                    <div class="footer__nav">
                        <p class="footer__nav-title">Get Started</p>

                        <ul class="footer__nav-list">
                            <li><a href="#">Create a Platform</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Log In</a></li>
                            <li><a href="#">EventsWallet in Action</a></li>
                        </ul>
                    </div>

                    <ul class="social-list">
                        <li>
                            <a href="#">
                                <svg>
                                    <use xlink:href="./img/spritemap.svg#sprite-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <svg>
                                    <use xlink:href="./img/spritemap.svg#sprite-twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <svg>
                                    <use xlink:href="./img/spritemap.svg#sprite-vkontakte"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <svg>
                                    <use xlink:href="./img/spritemap.svg#sprite-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <svg>
                                    <use xlink:href="./img/spritemap.svg#sprite-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="footer-column">
                    <div class="footer__nav">
                        <p class="footer__nav-title">Support</p>

                        <ul class="footer__nav-list">
                            <li><a href="#">Online Chat</a></li>
                            <li><a href="#">Email Us</a></li>
                        </ul>
                    </div>
                </div>

                <div class="footer-column">
                    <div class="footer__nav">
                        <p class="footer__nav-title">Explore Events</p>

                        <ul class="footer__nav-list">
                            <li><a href="#">Upcoming events</a></li>
                        </ul>
                    </div>

                    <ul class="footer-lang">
                        <li><a href="#" class="footer-lang__current">ENG</a></li>
                        <li><a href="#">RUS</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <p class="copyright">© EventsWallet OÜ. All Rights Reserved</p>

                <ul class="footer-bottom__nav">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Cookie Policy</a></li>
                    <li><a href="#">User Agreement</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- FOOTER END -->
</div>

<div class="icon-load">
    <picture><img src="<%= require('./img/loader.svg') %>" alt="pre-loader"></picture>
</div>
<!-- BODY END   -->
</body>
</html>
